@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root {
--Orange: hsl(26, 100%, 55%);
--Pale-orange: hsl(25, 100%, 94%);
--Very-dark-blue: hsl(220, 13%, 13%);
--Dark-grayish-blue: hsl(219, 9%, 45%);
--Grayish-blue: hsl(220, 14%, 75%);
--Light-grayish-blue: hsl(223, 64%, 98%);
--White: hsl(0, 0%, 100%);
--Black-background: hsl(0, 0%, 0%);
--font-family: "Kumbh Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
    font-family: var(--font-family);
}

.main-img{
    height: 40vh;
    width: 100vw;
}

.hidden {
    display: none;
}

.header {
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding: .8em;
    align-items: center;
}

.top-right {
    margin-left: auto;
}

.avatar-img {
    height: 4vh;
    padding-left: .5em;
}

.menu {
    padding-right: .5em;
}

.content {
    padding: 1em;
}

.description {
    font-weight: 700;
    font-size: .7rem;
    color: var(--Dark-grayish-blue);
    letter-spacing: .1em;
    padding-bottom: .8em;
}

.big-description {
    padding-top: .5em;
    padding-bottom: 1em;
    font-size: .8rem;
    color: var(--Dark-grayish-blue);
}

.prices {
    display: flex;
    align-items: center;
    padding-bottom: 1em;
}
.main-price {
    font-weight: bolder;
    font-size: 1.4em;
    padding-right: .8em;
}

.discount{
    color: white;
    background-color: black;
    padding: .3em;
    padding-left: .5em;
    padding-right: .5em;
    border-radius: 5px;
    font-weight: bold;
    font-size: .8rem;
}

.last-price{
    margin-left: auto;
    color: var(--Dark-grayish-blue);
    font-weight: 500;
    text-decoration: line-through;
    font-size: .8rem;
    padding-right: 1em;
}

.add-product {
    background-color: var(--Light-grayish-blue);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: .7em;
    width: 90vw;
    border-radius: 5px;
}

.zero {
    font-size: .9rem;
    font-weight: 700;
}

.minus {
    padding-left: .5em;
}

.plus {
    padding-right: .5em;
}

.cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    margin-top: .8em;
    padding: 1em;
    border: none;
    background-color: var(--Orange);
    font-family: var(--font-family);
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0px 5px 15px rgba(255, 106, 0, 0.352);
    cursor: pointer;
}

.cart-button:hover{
background-color: rgb(253, 181, 47);
}

#cart-svg {
    height: 15px;
    padding-right: .8em;
    filter: invert(50%) sepia(100%) saturate(1000%) hue-rotate(180deg) brightness(10%) contrast(90%);
    color: black;
    fill: black;
}

.menu-block {
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1000; 
    padding: 2em;
    transition: transform 0.3s ease; 

}

.close-btn {
    padding-bottom: 1em;
}

li {
    padding-bottom: .8em;
}

nav,ul, li, a  {
list-style: none;
cursor: pointer;
text-decoration: none;
color: var(--Very-dark-blue);
font-weight: 700;
font-size: 1.1rem;
margin-left: -.6em;
}

.menu-block.hidden {
    transform: translateX(-100%);
}